<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meet'Music</ion-title>
    <div *ngIf="connect">
    <ion-buttons end >
      <button (click)="goTo('PreferencesPage')" ion-button icon-only>
      <ion-icon name="settings"></ion-icon>
      </button>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>

    </div>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <h3>Meet'Music Menu Starter</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <img src="https://cdn.discordapp.com/attachments/413993716307722240/416591527251279872/Logo-gris-sasntexte.png"/>
      </ion-col>
    </ion-row>


    <div *ngIf="connect">
    <h3>Welcome inside, {{username}}!</h3>
      Your Email is: {{email}}
      <button ion-button block clear color="meetmusic" (click)="login()">Spotify connect</button>
      <button ion-button block clear color="meetmusic" (click)="getUserTop('artists')">get user top</button>
    </div>
    <ion-row>
      <ion-col text-center>
        <button ion-button color="meetmusic" *ngIf="!connect" (click)="goTo('LoginPage')">Se connecter</button>
        <button ion-button color="meetmusic" *ngIf="connect"(click)="goTo('ProfilPage')">Profil</button>
        <button ion-button color="meetmusic" *ngIf="!connect" (click)="goTo('RegisterPage')">S'inscrire</button>
        <button ion-button color="meetmusic" *ngIf="connect" (click)="goTo('MpPage')">Messages privés</button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
